%div
  = render :partial => 'shared/errors', :locals => {:obj => @article, :type => "article"}
  .row
    .col-xs-12
      = form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f|
        .form-group
          %div{:class => ['control-label', 'col-sm-2']}
            = f.label :title
          %div{:class => 'col-sm-8'}
            = f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true
        .form-group
          %div{:class =>['control-label', 'col-sm-2']}
            = f.label :description
          %div{:class => 'col-sm-8'}
            = f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article"
        .form-group
          .row
            %div{:class => ['col-sm-offset-2', 'col-sm-8']}
              = f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|
                - cb.label(class: "checkbox-inline input_checkbox"){cb.check_box(class: "checkbox") + cb.text}
        .form-group
          %div{:class => ['col-sm-offset-2', 'col-sm-10']}
            = f.submit(value=button_value, class: 'btn btn-primary btn-lg')
      %div{:class => ['col-xs-4', 'col-xs-offset-4']}
        [
        = link_to "Cancel request and return to articles listing", articles_path
        ]