%div
  = render :partial => 'shared/errors', :locals => {:obj => @user, :type => "user"}
  .row
    .col-xs-12
      = form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f|
        .form-group
          %div{:class => ['control-label', 'col-sm-2']}
            = f.label :username
          %div{:class => 'col-sm-8'}
            = f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true
        .form-group
          %div{:class =>['control-label', 'col-sm-2']}
            = f.label :email
          %div{:class => 'col-sm-8'}
            = f.email_field :email, class: "form-control", placeholder: "Enter email"
        .form-group
          %div{:class =>['control-label', 'col-sm-2']}
            = f.label :password
          %div{:class => 'col-sm-8'}
            = f.password_field :password, class: "form-control", placeholder: "Enter password"
        .form-group
          %div{:class => ['col-sm-offset-2', 'col-sm-10']}
            = f.submit(@user.new_record? ? "Sign up" : "Update account", class: 'btn btn-primary btn-lg')
      %div{:class => ['col-xs-4', 'col-xs-offset-4']}
        [
        = link_to "Cancel request and return to articles listing", articles_path
        ]