%h1{align: 'center'}
  All Alpha Bloggers

%div{align:'center'}
  = will_paginate
  - @users.each do |user|
    %ul{:class => 'listing'}
      .row
        %div{:class => 'well col-md-4 col-md-offset-4'}
          %li
            = link_to gravatar_for(user), user_path(user)
          %li{:class => 'article-title'}
            = link_to user.username, user_path(user)
          %li
            %small
              = pluralize(user.articles.count, "article") if user.articles
          - if logged_in? and current_user.admin?
            %li
              = link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete the user and all their articles?"}
  = will_paginate