%h1.center
  Welcome to
  = @user.username
  's page

.row
  %div{:class => 'col-md-4 col-md-offset-4 center'}
    = gravatar_for @user, size: 150
%h4.center
  = @user.username
  's articles
.center
  = will_paginate @user_articles
= render :partial => 'articles/article', locals: {obj: @user_articles}
.center
  = will_paginate @user_articles