%div
  = render :partial => 'shared/errors', :locals => {:obj => @category, :type => "category"}
  .row
    .col-xs-12
      = form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f|
        .form-group
          %div{:class => ['control-label', 'col-sm-2']}
            = f.label :name
          %div{:class => 'col-sm-8'}
            = f.text_field :name, class: "form-control", placeholder: "Enter category name", autofocus: true
        .form-group
          %div{:class => ['col-sm-offset-2', 'col-sm-10']}
            = f.submit(@category.new_record? ? "Create" : "Update", class: 'btn btn-primary btn-lg')
      %div{:class => ['col-xs-4', 'col-xs-offset-4']}
        [
        = link_to "Cancel request and return to articles listing", articles_path
        ]