%h1.center
  = "Category: " + @category.name
.center
  - if logged_in? and current_user.admin?
    .row
      %span.badge
        = link_to "Edit Category Name", edit_category_path(@category)
  = will_paginate @category_articles
= render :partial => 'articles/article', :locals => {:obj => @category_articles}
.center
  = will_paginate @category_articles