.container
  %footer{:class => ['footer']}
    %small
      Copyright &copy;
      %a{:href => "https://www.udemy.com"}
        The Complete Ruby on Rails Developer
      by
      %a{:href => "http://www.mashrurhossain.com/"}
        Mashrur Hossain
    %nav
      %ul
        %li
          = link_to "About", about_path