.row
  %div{:class => ['col-xs-10','col-xs-offset-1']}
    - flash.each do |name, msg|
      %div{:class => ['alert','alert-'.concat(name)]}
        %a{:class => 'close', :href => "#", :data => { :dismiss => "alert" }}
          &#215;
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)