%html
  %head
    %title Alpha Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/navigation'
    = render :partial => 'layouts/messages'
    .container
      = yield
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?